# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# macOS files
.DS_Store

# emacs backup files
*~

# log files
simcado.log
simmetis.log
.ipynb_checkpoints/
Untitled.ipynb
version.py
