################################################################################
# Simulation Parameters

SIM_DATA_DIR            ../data/                 # path to data files
SIM_DETECTOR_PIX_SCALE  0.00679                  # [arcsec] plate scale of the detector (GeoSnap, E-REP-NOVA-MET-1191_2-0)
SIM_VERBOSE             no                      # [yes/no] print information on the simulation run
SIM_SIM_MESSAGE_LEVEL   3                       # the amount of information printed [5-everything, 0-nothing]


################################################################################
# Observation Parameters

OBS_DIT                 1                       # [sec] simulated exposure time
OBS_NDIT                1                       # [#] number of exposures taken
OBS_ZENITH_DIST         None                    # [deg] from zenith
OBS_PARALLACTIC_ANGLE   0                       # [deg] rotation of the source relative to the zenith


################################################################################
# Atmospheric Parameters

ATMO_USE_ATMO_BG        yes                     # [yes/no]

ATMO_AIRMASS            1.0                     # airmass, can be overridden by OBS_ZENITH_DIST
ATMO_TC                 TC_sky_extended_proper.tbl           # [filename] for atmospheric transmission curve.
ATMO_EC                 EC_sky_extended_proper.tbl           # [filename, "none"] for atmospheric emission curve.
ATMO_BG_MAGNITUDE       none                    # [ph/s] background photons for the bandpass. If set to None, the ATMO_EC spectrum is assumed to return the needed number of photons

################################################################################
# Telescope Parameters

SCOPE_ALTITUDE          3060                    # meters above sea level
SCOPE_LATITUDE          -24.589167              # decimal degrees
SCOPE_LONGITUDE         -70.192222              # decimal degrees
SCOPE_TEMPERATURE       9.                      # temperature of telescope [Celsius]

SCOPE_PSF_FILE          PSF_SCAO_9mag_06seeing.fits   # import a PSF from a file.

SCOPE_USE_MIRROR_BG     yes                     # [yes/no]

## for the time being SCOPE_M1_TC essentially replicates the mirror list (this will be changed)
SCOPE_M1_TC             TC_mirror_total_emissivity.dat      # [filename] Mirror reflectance curve.
SCOPE_MIRROR_LIST       EC_mirrors_EELT_SCAO.tbl    # [filename] List of mirror sizes.


################################################################################
# Instrument Parameters

INST_ENTR_NUM_SURFACES  1                       # number of surfaces on the entrance window
INST_ENTR_WINDOW_TC     TC_window_METIS.dat           # [filename] Default: <pkg_dir>/data/TC_window.dat --> transmission = 0.98 per surface

INST_DICHROIC_NUM_SURFACES  1                   # number of surfaces on the entrance window
INST_DICHROIC_TC        TC_dichroic_CFO.dat         # [filename] Default: <pkg_dir>/data/TC_dichroic.dat --> transmission = 1 per surface

INST_FILTER_TC          TC_filter_N2.dat

INST_PUPIL_NUM_SURFACES 1                       # number of surfaces on the pupil window
INST_PUPIL_TC           TC_pupil.dat            # [filename] Default: <pkg_dir>/data/TC_pupil.dat --> transmission = 1 per surface

INST_NUM_MIRRORS        19                      # number of reflecting surfaces in METIS
INST_MIRROR_TC          TC_mirror_aluminium.dat      # [filename, "default"] If "default": INST_MIRROR_TC = SCOPE_M1_TC

INST_USE_AO_MIRROR_BG   no                      # [yes/no]

INST_ADC_NUM_SURFACES   1                       # number of surfaces in the ADC
INST_ADC_TC             TC_ADC.dat              # [filename] Default: <pkg_dir>/data/TC_ADC.dat --> transmission = 0.98 per surface


################################################################################
# Detector parameters

FPA_CHIP_LAYOUT         FPA_metis_img_n_geosnap_layout.dat  # [<filename>] description of the chip layout on the detector array.
FPA_USE_NOISE           no                      # [yes/no]

FPA_READOUT_MEDIAN      300                     # e-/px -- high-capacity mode, E-REP-NOVA-MET-1191_2-0, parameter currently not used in the simulation
FPA_DARK_MEDIAN         1e5                     # e-/s/px -- E-REP-NOVA-MET-1191_2-0, parameter currently not used in the simulation
FPA_QE                  TC_detector_GeoSnap_N.dat     # [filename] Quantum efficiency of detector.
FPA_NOISE_PATH          FPA_GeoSnap_no_noise.fits   # [filename]
#FPA_GAIN                15                     # e- to ADU conversion -- from Ives+ 2012, Fig. 11a
FPA_GAIN                1                       # to be compatible with METIS fluxes document
FPA_FULL_WELL_DEPTH     2.7E6                     # [e-] E-REP-NOVA-MET-1191_2-0, high-capacity mode -- parameter currently not used in the simulation
FPA_PIXEL_MAP           none                    # path to a FITS file with the pixel sensitivity map
# if FPA_PIXEL_MAP == none
FPA_DEAD_PIXELS         0                       # [%] if FPA_PIXEL_MAP=none, a percentage of detector pixel which are dead
FPA_DEAD_LINES          0                       # [%] if FPA_PIXEL_MAP=none, a percentage of detector lines which are dead
